.container {
  background-color: #9e9c9c23;
}
form {
  display: flex;
  flex-flow: column;
  justify-content: start;
  align-items: center;
  margin: 10px;
  mat-form-field {
    width: 70%;
  }
}
.image-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 180px;
  margin: 10px 0;
  overflow: hidden;
  border-radius: 5px;
  button {
    margin: 10px 0;
  }
  img {
    height: 130px;
    border-radius: 10px;
    // box-shadow: 0px 0px 7px 3px #69696987;
  }
}
