.container {
  background-color: #9e9c9c23;
}
form {
  display: flex;
  flex-flow: column;
  justify-content: start;
  align-items: center;
  margin: 10px;
  mat-form-field {
    width: 70%;
  }
}
.name-container,
.password-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
  margin: 20px 0;
  mat-form-field {
    flex: 0 0 49%;
  }
}

.password-group-error {
  flex: 0 0 100%;
  text-align: center;
  border: solid RGB(244, 67, 54);
  border-width: 1px 0 0 0;
  padding: 5px;
  color: RGB(244, 67, 54);
}
