.container {
  background-color: #9e9c9c23;
  width: 50% !important;
}
form {
  display: flex;
  flex-flow: column;
  justify-content: start;
  align-items: center;
  margin: 10px;
  mat-form-field {
    width: 70%;
  }
}
