button,
a {
  margin: 0 10px;
}
.bg-white {
  background-color: #ffffff;
  border: 1px solid;
  margin: 0 10px;
}
.logout {
  background-color: rgba(244, 40, 40, 0.753) !important;
  color: #ffffff !important;
}
.mat-mdc-card-avatar {
  margin: 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
